# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.cursor/
.dart-tool/
.dart/
.dartServer/
.designer/
.docker/
.dotnet/
.flutter
.flutter-devtools/
.gem/
.gitconfig
.gitflow_export
.gitignore_global
.gradle/
.hgignore_global
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.kdiff3rc
.keras/
.lesshst
.local/
.m2/
.matplotlib/
.mono/
.node_repl_history
.npm/
.nuget/
.plastic4/
.pub-cache/
.stCommitMsg
.tcshrc
.templateengine/
.viminfo
.xonshrc
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.save
.zshrc.swp
.zshrc=.save
.zshrc=.swp
.zshrc_backup
.anaconda/
.android/
.cache/
.cocoapods/
.conda/
.condarc
.config/
.continuum/
.emulator_console_auth_token
.ServiceHub/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# User specific files
CV.pdf
CW1.drawio
~$mock.docx
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
